{% extends 'polls/base.html' %}

{% block content %}

<p class="my-3 d-flex align-items-center">
    <a
        href="{% url 'polls:index' %}"
        class="text-secondary text-decoration-none"
    ><span style="font-size: 20px">&#8672;</span> go back</a>
</p>
<h1 class="text-primary text-center mb-5">{{question}}</h1>
    {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <div class="list-group">
            {% for choice in question.choice_set.all %}
            <div class="list-group-item">
                <input type="radio" required="required" name="choice" id="choice_{{forloop.counter}}" value="{{choice.id}}"/>
                <label for="choice_{{forloop.counter}}">{{choice}}</label>
            </div>
            <br />
            {% endfor %}
        </div>
        <input type="submit" value="Vote" class="btn btn-info" />
    </form>

{% endblock content %}
