{% extends 'polls/base.html' %}

{% block content %}

<h1>{{question}}</h1>
    {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <input type="radio" required="required" name="choice" id="choice_{{forloop.counter}}" value="{{choice.id}}"/>
        <label for="choice_{{forloop.counter}}">{{choice}}</label>
        <br />
        {% endfor %}
        <input type="submit" value="Vote" />
    </form>

    <p><a href="{% url 'polls:index' %}">&lt;&lt; Go back</a></p>
{% endblock content %}
