{% extends 'polls/base.html' %}

{% load static %}

{% block content %}

    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{question}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There aren't questions yet.</p>
    {% endif %}
    <p>
        <span id="cat_background">This is with background image by css.</span>
        <br />
        <span>This is with img tag.</span>
        <br />
        <img src="{% static 'polls/images/choose_me_cat.jpeg' %}" alt="A cat rising up one foot" />
    </p>
{% endblock content %}
